[Unit]
Description=LAN speed stats collector
After=network.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/environment
ExecStart=/usr/share/netperf/.venv/bin/python3 /usr/local/bin/netperf.py
WorkingDirectory=/usr/share/netperf
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
