[Unit]
Description=LAN speed stats collector
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/share/netperf/.venv/bin/python3 /usr/local/bin/netperf.py
WorkingDirectory=/usr/share/netperf
Restart=on-success
RestartSec=3

[Install]
WantedBy=multi-user.target
